{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
{#    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">#}
{#    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>#}
{#    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>#}
    {%block css%}
    {%endblock %}
</head>
<body>
{#    <script src="{% static 'jquery-3.4.1/jquery-3.4.1.js' %}"></script>#}
    {% block js %}
    {% endblock %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/blog/home/">MyBlog</a>
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/blog/home/">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">技术</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">更多</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    个人信息
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">主页</a>
                    <a class="dropdown-item" href="#">技术</a>
                    <a class="dropdown-item" href="#">关于</a>
                    <a class="dropdown-item" href="#">更多</a>
                </div>
            </li>
            {% if request.session.is_login %}
                <li class="nav-item">
                    <a class="nav-link" href="/blog/home/">当前在线：{{ request.session.user_username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/logout/">登出</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/blog/login/">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/register/">注册</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>



