{% extends 'blog/base.html' %}
{% load static %}
{% block title %}首页{% endblock %}

{% block css %}
    <style>
    #banner-div{
        padding: 10px;
        margin:0 auto;
        width:90%;
    }
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
  </style>

{% endblock %}
{% block content %}
     {#    设置自动播放：data-ride=“carousel”#}
    {#    设置播放的时间间隔（这里设置的时间间隔是2000毫秒）：data-interval=“2000”#}

    <div id="banner-div">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                {% for banner in banner_list %}
                    {% if banner.is_active %}
                        <li data-target="#demo" data-slide-to="{{ banner.idx }}" class="active"></li>
                    {% else %}
                        <li data-target="#demo" data-slide-to="{{ banner.idx }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- 轮播图片 -->
            <div class="carousel-inner">
                {% for banner in banner_list %}
                    {% if banner.is_active %}
                        <div class="carousel-item active">
                            <img src="/media/{{banner.cover}}">
                            <div class="carousel-caption">
                                <p>{{banner.title}}!</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <img src="/media/{{banner.cover}}">
                            <div class="carousel-caption">
                                <p>{{banner.title}}!</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <!-- 推荐开始 -->
    {% for post in recommend_list %}
        <article class="excerpt-minic excerpt-minic-index">
            <div>
                <span class="red">【推荐】</span>
                <a target="_blank" href="/blog/{{post.id}}/" title="{{post.title}}" >{{post.title}}</a>
            </div>
        <p class="note">{{post.title}}</p>
        </article>
    {% endfor %}
    <!-- 推荐结束 -->
    <!-- 最新发布的博客开始 -->
    {% for post in post_list %}
        <div class="container">
            <h3>{{ post.title }}</h3>
            <p>作者：{{ post.author }}</p>
            <a class="focus" href="#" target="_blank" >
                <img class="thumb" data-original="/media/{{post.cover}}" src="/media/{{post.cover}}"  style="display: inline;">
            </a>
            <blockquote class="blockquote">
                <p>{{ post.body }}</p>
                <p>数据分类：
                    <a class="cat" href="#" title="{{post.category.name}}">
                        {{post.category.name}}
                    </a>
                </p>
            </blockquote>
        </div>
        <p class="meta">
            <time class="time">
                <i class="glyphicon glyphicon-time">{{publish.pub_date|date:'Y-m-d'}}</i></time>
            <span class="views"><i class="glyphicon glyphicon-eye-open"></i>{{post.views}}</span>
            <a class="comment" href="#" title="评论" target="_blank" >
                <i class="glyphicon glyphicon-comment"></i>
                {{post.comment_set.count}}
            </a>
        </p>
        <p class="note">
      {% autoescape off %}
          {{post.content | truncatechars_html:200}}
      {% endautoescape %}

    </p>
    </article>

  {% endfor %}
    <!-- 最新发布的博客结束 -->
    <!-- 分类 -->
    <div class="title">
        <h6>最新发布</h6>
        <div class="more">
            {%for category in blogcategory_list%}
                <a href="/category/{{category.id}}" title="{{category.name}}">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>
    <!-- 分类结束 -->
    <!-- 评论 -->
    <ul>
        {% for post in new_comment_list %}
            <li>
                <a title="{{ post.title }}" href="#">
                    <span class="thumbnail">
                        <img class="thumb" data-original="/media/{{ post.cover }}"
                             src="/media/{{ post.cover }}"
                             alt="{{ post.title }}" style="display: block;">
                    </span>
                    <span class="text">{{ post.title }}</span>
                    <span class="muted">
                        <i class="glyphicon glyphicon-time"></i>
                        {{ post.pub_date }}
                    </span>
                    <span class="muted">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        {{ post.views }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <!-- 评论结束 -->
    <!-- 友情链接 -->
    <div class="widget widget_sentence">
        <h6>友情链接</h6>
        <div class="widget-sentence-link">
            {% for friendlylink in friendlylink_list %}
                <a href="{{ friendlylink.link }}" title="{{ friendlylink.title }}"
                   target="_blank">{{ friendlylink.title }}
                </a>&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </div>
    </div>


{% endblock %}
