{% extends 'blog/base.html' %}
{% load static %}
{% block title %}首页{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/ma.css' %}">
{% endblock css%}
{% block content %}
            <li class="slide" ><a href="/life/12.html" title="努力做一个优秀的测试"><img src="http://www.yangqq.com/skin/852/images/banner01.jpg"><span class="imginfo">安静地做一个爱设计的女子</span></a></li>

{#    {% for post in posts %}#}
{#        <h2>#}
{#            <a style="color: lightskyblue; font-size: 20px" href="{{ post.get_absolute_url }}" >{{ post.title }}</a>#}
{#        </h2>#}
{#        <p class="date">#}
{#            发布时间 {{ post.publish }} 作者： {{ post.author }}#}
{#        </p>#}
{#        truncatewords:将数值截取至指定的单词数量#}
{#        linebreaks:将输出结果转换为HTML换行符#}
{#        {{ post.body|truncatewords:30|linebreaks }}#}
{#    {% endfor %}#}
    <!--banner begin-->
  <div class="banner">
    <div id="banner" class="fader">
        <li class="slide" ><a href="/life/12.html" title="努力做一个优秀的测试"><img src="http://www.yangqq.com/skin/852/images/banner01.jpg"><span class="imginfo">安静地做一个爱设计的女子</span></a></li>
        <li class="slide" ><a href="/life/13.html" title="个人博客，属于我的小世界！"><img src="http://www.yangqq.com/d/file/news/life/2018-04-27/762f99f369ae786f970477feeb3b9d77.jpg"><span class="imginfo">个人博客，属于我的小世界！</span></a></li>
        <div class="fader_controls">
            <div class="page prev" data-target="prev">&lsaquo;</div>
            <div class="page next" data-target="next">&rsaquo;</div>
            <ul class="pager_list">
            </ul>
        </div>
    </div>
  </div>
  <!--banner end-->
  <div class="toppic">
          <li><a href="/life/52.html" title="个人博客从简不繁" target="_blank"><i><img src="http://www.yangqq.com/d/file/news/s/2018-06-29/7d49754e217a5ad6b80e88acde94bc57.jpg"></i>
      <h2>个人博客从简不繁</h2>
      <span>慢生活</span> </a> </li>
                <li><a href="/study/biji/34.html" title="我们可以从CSS框架中借鉴到什么" target="_blank"><i><img src="/d/file/p/2018/08-04/bc2570db45bb0e607cbb3f3bffdec246.png"></i>
      <h2>我们可以从CSS框架中借鉴到什么</h2>
      <span>学习笔记</span> </a> </li>
              </div>
  <main>
  <div class="news_box">
    <ul>
          <li><i><a href="/life/11.html" title="我是怎么评价自己的？" target="_blank"><img src="http://www.yangqq.com/d/file/news/s/2018-07-28/95d1b1577a8a7aa4fe3893f2502617e9.jpg"></a></i>
        <h3><a href="/life/11.html" title="我是怎么评价自己的？" target="_blank">我是怎么评价自己的？</a></h3>
      </li>
            <li><i><a href="/life/14.html" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?" target="_blank"><img src="http://www.yangqq.com/d/file/news/life/2018-06-29/75842f4d1e18d692a66c38eb172a40ab.jpg"></a></i>
        <h3><a href="/life/14.html" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?" target="_blank">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></h3>
      </li>
            <li><i><a href="/life/15.html" title="Come on,行动起来吧!我们和时间来一场赛跑!" target="_blank"><img src="http://www.yangqq.com/d/file/news/life/2018-03-12/7b23e40fd0e148e991c6a04b8e9612ab.jpg"></a></i>
        <h3><a href="/life/15.html" title="Come on,行动起来吧!我们和时间来一场赛跑!" target="_blank">Come on,行动起来吧!我们和时间来一场赛跑!</a></h3>
      </li>
            <li><i><a href="/life/19.html" title="即便是坑，我也想要拉你入伙！" target="_blank"><img src="http://www.yangqq.com/d/file/news/s/2014-06-14/072f267a54748c6e71d40a2d03978993.jpg"></a></i>
        <h3><a href="/life/19.html" title="即便是坑，我也想要拉你入伙！" target="_blank">即便是坑，我也想要拉你入伙！</a></h3>
      </li>
            <li><i><a href="/life/57.html" title="再看4年前某婚恋网站我的十条征婚条件" target="_blank"><img src="http://www.yangqq.com/d/file/news/s/2013-11-25/6abfdd1f080561acedbd2606210951eb.png"></a></i>
        <h3><a href="/life/57.html" title="再看4年前某婚恋网站我的十条征婚条件" target="_blank">再看4年前某婚恋网站我的十条征婚条件</a></h3>
      </li>
            <li><i><a href="/life/58.html" title="抄袭门过后——丢掉心结，重拾自己" target="_blank"><img src="http://www.yangqq.com/d/file/news/s/2013-11-22/5fafd3ebc31c323311092c440bcf41bf.jpg"></a></i>
        <h3><a href="/life/58.html" title="抄袭门过后——丢掉心结，重拾自己" target="_blank">抄袭门过后——丢掉心结，重拾自己</a></h3>
      </li>
          </ul>
  </div>
  <div class="pics">
    <ul>
           <li><i><a href="/life/53.html" title="云南之行——丽江古镇玉龙雪山" target="_blank"><img src="http://www.yangqq.com/d/file/news/s/2014-01-04/cb83fc3e74125e79a3c508eecbe99cda.jpg"></a></i><span>云南之行——丽江古镇玉龙雪山</span></li>
             <li><i><a href="/life/54.html" title="云南之行——大理洱海一日游" target="_blank"><img src="http://www.yangqq.com/d/file/news/s/2014-01-04/8f91a94816062276afe62062ef271239.jpg"></a></i><span>云南之行——大理洱海一日游</span></li>
             <li><i><a href="/life/55.html" title="云南之行——初到昆明滇池半日游" target="_blank"><img src="http://www.yangqq.com/d/file/news/s/2014-01-04/9129a0317b9e3dda6b8e5e4af8f21b60.jpg"></a></i><span>云南之行——初到昆明滇池半日游</span></li>
           </ul>
  </div>
  <div class="blogtab">
  <ul id="blogtab">
    <li class="current">站长推荐</li>
   <li><a href="" target="_blank"></a></li>
  </ul>

 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/web/35.html" target="_blank" >帝国cms列表页调用关键字tag标签</a></h3>
<span class="blogpic"><a href="/study/web/35.html" title="帝国cms列表页调用关键字tag标签"><img src="http://www.yangqq.com/d/file/jstt/web/2018-07-16/fbe877634a8eb658f4d19b83c960d6ab.png" alt="帝国cms列表页调用关键字tag标签"></a></span>

      <p class="blogtext">有很多朋友都在问帝国cms列表页怎么调用关键字tag，tag作为内链手法，对于SEO有一定的好处，下面杨青博客就实例讲述一下帝国cms列表页面调用关键字tag标签的方法，分享给大... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"></li>
          <li class="lmname"><a href="/study/web/"  target="_blank" >网站建设</a></li>
          <li class="timer">2018-07-26</li>
          <li class="view"><span>22</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/life/17.html" target="_blank" >或许换一个活法,能让你走出阴霾</a></h3>
<span class="blogpic"><a href="/life/17.html" title="或许换一个活法,能让你走出阴霾"><img src="http://www.yangqq.com/d/file/news/life/2014-07-10/43baa4c7c03ed66bae98696de5ebc64e.jpg" alt="或许换一个活法,能让你走出阴霾"></a></span>

      <p class="blogtext">前段时间回成都,去见了几年未见的老友.一起吃了饭,还带我家宝宝去玩.我问她为什么这么久都还没有打算要孩子,她说,她有一段时间患上了忧郁症,很长的时间才走出来,我听她这么说,我都很惊讶!想问问她原因,可见她欲言又止的神情,我便不再主动问她.就听着她慢慢的说.其实主要的原因还是源自于工作和家庭,工作压力大,每天的程序代码,上级不停的催,她甚至连续好几个通宵的熬夜,,,... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/life/"  target="_blank" >慢生活</a></li>
          <li class="timer">2018-02-26</li>
          <li class="view"><span>19</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >



  <h3 class="blogtitle"><a href="/study/biji/23.html" target="_blank" >【心路历程】请不要在设计这条路上徘徊啦</a></h3>
<span class="bplist"><a href="/study/biji/23.html" title="【心路历程】请不要在设计这条路上徘徊啦">
      <li><img src="/d/file/p/2018/08-04/7c419fd2e80fab48651a198d223d91b2.jpg" alt="【心路历程】请不要在设计这条路上徘徊啦"></li>
      <li><img src="/showtime/d/file/p/2018/08-04/6b80c84d4f2ad6060fa391e8916f99ec.jpg" alt="【心路历程】请不要在设计这条路上徘徊啦"></li>
      <li><img src="/showtime/d/file/p/2018/08-04/71028f87edbdd9e1233e9cebe79b7d43.jpg" alt="【心路历程】请不要在设计这条路上徘徊啦"></li>
      </a></span>
      <p class="blogtext"> 我整理了一下网友给我的来信，如果你还在踌躇不前，不妨来看看，到底要不要坚持下去！我也欢迎大家给我来信，希望能帮到更多人。... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"></li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2017-07-13</li>
          <li class="view"><span>16</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/life/18.html" target="_blank" >IP要突破2000+了</a></h3>
<span class="blogpic"><a href="/life/18.html" title="IP要突破2000+了"><img src="http://www.yangqq.com/d/file/news/read/2014-06-30/a85973b7e8d151108aee2deb83c18f97.jpg" alt="IP要突破2000+了"></a></span>

      <p class="blogtext">很久都没有更新网站了，现在得空看了下网站怎么样了，没有想到，百度权重4,PR3,访问IP也在上升，一年的时间没有更新，看来一次性做好一个网站很有必要，这回一劳永逸了... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/life/"  target="_blank" >慢生活</a></li>
          <li class="timer">2016-05-20</li>
          <li class="view"><span>44</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/25.html" target="_blank" >【匆匆那些年】总结个人博客经历的这四年…</a></h3>
<span class="blogpic"><a href="/study/biji/25.html" title="【匆匆那些年】总结个人博客经历的这四年…"><img src="/d/file/p/2018/08-04/a465dddcbbcce5f7d73e1ea7fdc48b11.jpg" alt="【匆匆那些年】总结个人博客经历的这四年…"></a></span>

      <p class="blogtext">博客从最初的域名购买，到上线已经有四年的时间了，这四年的时间，有笑过，有怨过，有悔过，有执着过，也有放弃过…但最后还是坚持了下来，时间如此匆匆，等再回过头已来不及去弥补... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2015-01-09</li>
          <li class="view"><span>14</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >



  <h3 class="blogtitle"><a href="/study/biji/26.html" target="_blank" >分享我的个人博客访问量如何做到IP从10到2000的(图文)</a></h3>
<span class="bigpic"><a href="/study/biji/26.html" title="分享我的个人博客访问量如何做到IP从10到2000的(图文)"><img src="/d/file/p/2018/08-04/d5991e34968ab1cc4c6b262b46574c6d.jpg" alt="分享我的个人博客访问量如何做到IP从10到2000的(图文)"></a></span>

      <p class="blogtext">我的个人博客总共展示了三个版本，界面也经历了由“简单”到“复杂”再到“简单”，颜色从“色泽单一”到“五彩斑斓”再到“局部点缀”的过程。原来一年一个版本！而每次改版的契机都是被百度惩罚！界面不要频繁更换！好好检查代码，有没有冗余、结构有没有不合理的地方。... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-11-06</li>
          <li class="view"><span>17</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/27.html" target="_blank" >帝国cms常用标签调用方法总结（不得不收藏哦）</a></h3>
<span class="blogpic"><a href="/study/biji/27.html" title="帝国cms常用标签调用方法总结（不得不收藏哦）"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-10-18/a0b65d3d8160f90f6556c4dfa3a85a59.jpg" alt="帝国cms常用标签调用方法总结（不得不收藏哦）"></a></span>

      <p class="blogtext">整理了一些常用的帝国cms调用，灵动标签和万能标签的调用方法举例。幻灯片、标题、一级栏目、二级栏目、带模版的友情链接（下拉菜单）、判断内容页字段为空时是如何调用的等等...新手可以借鉴学习。... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-10-18</li>
          <li class="view"><span>16</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/28.html" target="_blank" >使用ASPCMS建站网站被黑</a></h3>
<span class="blogpic"><a href="/study/biji/28.html" title="使用ASPCMS建站网站被黑"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-06-17/2ab0bdcc2d40794f183031053dd1a4d2.jpg" alt="使用ASPCMS建站网站被黑"></a></span>

      <p class="blogtext">之前使用过aspcms建站，都使用的是最新发布的版本，时隔半年，竟然以将近每个月升一次的速度更新了n个版本。当然是一次比一次好，但是之前的版本，升级又非常麻烦，暂且就先没管。... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-06-17</li>
          <li class="view"><span>10</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/29.html" target="_blank" >IE6到底哪里不好？你还继续用IE6吗？</a></h3>
<span class="blogpic"><a href="/study/biji/29.html" title="IE6到底哪里不好？你还继续用IE6吗？"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-05-26/b1d8cde248671b1e75ef302609595b1f.jpg" alt="IE6到底哪里不好？你还继续用IE6吗？"></a></span>

      <p class="blogtext">初接触网页设计，IE6是检查代码严谨性的一个很好的工具，虽然，曾经无数的抱怨、甚至憎恨。但是只要100个用户群里面有一位用户在使用IE6，你就不得不做好兼容。因为我们就是设计师。... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-05-26</li>
          <li class="view"><span>17</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/30.html" target="_blank" >css技巧以及经验总结</a></h3>
<span class="blogpic"><a href="/study/biji/30.html" title="css技巧以及经验总结"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-05-14/ce3c6881c5f27e55588f8f9843d8be38.jpg" alt="css技巧以及经验总结"></a></span>

      <p class="blogtext">1、如何清除图片下方出现几像素的空白间隙？2、如何让文本垂直对齐文本输入框？3、如何让单行文本在容器内垂直居中？4、如何让超链接访问后和访问前的颜色不同且访问后仍保留hover和active效果？... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-05-14</li>
          <li class="view"><span>12</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/31.html" target="_blank" >IE常见bugs以及解决方案列表</a></h3>
<span class="blogpic"><a href="/study/biji/31.html" title="IE常见bugs以及解决方案列表"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-05-14/1ed9f310ffdbfdbb4c695671233296b5.jpg" alt="IE常见bugs以及解决方案列表"></a></span>

      <p class="blogtext">1、如何解决IE6及更早浏览器浮动时产生双倍边距的BUG？2、如何解决IE6及更早浏览器下的3像素BUG？3、如何在IE6及更早浏览器下模拟min-height效果？4、如何解决IE7及更早浏览器下当li中出现2个或以上的浮动时，li之间产生的空白间隙的BUG？... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-05-14</li>
          <li class="view"><span>11</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/32.html" target="_blank" >鼠标悬停图片、文字css3效果</a></h3>
<span class="blogpic"><a href="/study/biji/32.html" title="鼠标悬停图片、文字css3效果"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-01-14/12f33cc4c1c692e2fa0017275fcc265f.jpg" alt="鼠标悬停图片、文字css3效果"></a></span>

      <p class="blogtext">其实这样的效果也很常见，但是我平时用到很少，在其他网站看到这样的效果，第一反应就是查看源代码，看他怎么运用的，结果用了很多的div，最主要的是用js来实现。目前很多浏览器也都兼容css3新属性，这个例子就可以使用rgba(0,0,0,0.5)、opacity、当然关键也要看怎么定位，还是会用到position属性。... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-01-14</li>
          <li class="view"><span>27</span>已阅读</li>

        </ul>
      </div>
    </div>


 <div class="blogs" data-scroll-reveal="enter bottom over 1s" >


  <h3 class="blogtitle"><a href="/study/biji/33.html" target="_blank" >从摄影作品中获取网页颜色搭配技巧</a></h3>
<span class="blogpic"><a href="/study/biji/33.html" title="从摄影作品中获取网页颜色搭配技巧"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-01-09/9b5abf501a88ea5d80c3ccd9978358c9.jpg" alt="从摄影作品中获取网页颜色搭配技巧"></a></span>

      <p class="blogtext">作为一个优秀、专业的网页设计师，首先要了解各种颜色的象征，以及不同类型网站常用的色彩搭配。色彩搭配看似复杂,但并不神秘。一般来说,网页的背景色应该柔和一些、素一些、淡一些,再配上深色的文字,使人看起来自然、舒畅。色彩是人的视觉最敏感的东西。主页的色彩处理得好，可以锦上添花，达到事半功倍的效果。... </p>
      <div class="bloginfo">
        <ul>
          <li class="author">杨青</li>
          <li class="lmname"><a href="/study/biji/"  target="_blank" >学习笔记</a></li>
          <li class="timer">2014-01-09</li>
          <li class="view"><span>12</span>已阅读</li>

        </ul>
      </div>
    </div>

    </div>
  </main>
  <aside class="r_box" >
      <div class="about_me">
        <h2>博主简介</h2>
        <ul>
          <i><img src="/skin/show/images/4.jpg"></i>
          <p><strong>杨青</strong>，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。</p>
        </ul>
      </div>
      <div class="wdxc">
        <h2>图文精选</h2>
        <ul>
                     <li><a href="/study/biji/25.html" title="【匆匆那些年】总结个人博客经历的这四年…" target="_blank"><img src="/d/file/p/2018/08-04/a465dddcbbcce5f7d73e1ea7fdc48b11.jpg"></a></li>
                     <li><a href="/study/biji/27.html" title="帝国cms常用标签调用方法总结（不得不收藏哦）" target="_blank"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-10-18/a0b65d3d8160f90f6556c4dfa3a85a59.jpg"></a></li>
                     <li><a href="/study/biji/28.html" title="使用ASPCMS建站网站被黑" target="_blank"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-06-17/2ab0bdcc2d40794f183031053dd1a4d2.jpg"></a></li>
                     <li><a href="/study/biji/29.html" title="IE6到底哪里不好？你还继续用IE6吗？" target="_blank"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-05-26/b1d8cde248671b1e75ef302609595b1f.jpg"></a></li>
                     <li><a href="/study/biji/31.html" title="IE常见bugs以及解决方案列表" target="_blank"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-05-14/1ed9f310ffdbfdbb4c695671233296b5.jpg"></a></li>
                     <li><a href="/study/biji/32.html" title="鼠标悬停图片、文字css3效果" target="_blank"><img src="http://www.yangqq.com/d/file/jstt/bj/2014-01-14/12f33cc4c1c692e2fa0017275fcc265f.jpg"></a></li>
                   </ul>
      </div>

      <div class="tuijian">
        <h2 id="tab"><a href="#"class="current">最新文章</a><a href="#">点击排行</a></h2>

     <div id="content">
        <ul style="display:block;">
<li><a href="/study/web/1.html" title="个人博客模板《show time》蓝色版" target="_blank">个人博客模板《show time》蓝色版</a></li><li><a href="/about/wall/2018-08-04/59.html" title="我是怎么评价自己的？" target="_blank">我是怎么评价自己的？</a></li><li><a href="/life/11.html" title="我是怎么评价自己的？" target="_blank">我是怎么评价自己的？</a></li><li><a href="/study/web/35.html" title="帝国cms列表页调用关键字tag标签" target="_blank">帝国cms列表页调用关键字tag标签</a></li><li><a href="/study/web/36.html" title="帝国cms去掉广告图片的高和宽" target="_blank">帝国cms去掉广告图片的高和宽</a></li><li><a href="/study/web/37.html" title="个人博客模板《More》后台管理" target="_blank">个人博客模板《More》后台管理</a></li><li><a href="/study/web/38.html" title="帝国cms结合项如何实现多条件查询" target="_blank">帝国cms结合项如何实现多条件查询</a></li><li><a href="/study/web/39.html" title="帝国cms 如何使用静态页面？" target="_blank">帝国cms 如何使用静态页面？</a></li>        </ul>
         <ul>
<li><a href="/life/11.html" title="我是怎么评价自己的？" target="_blank">我是怎么评价自己的？</a></li><li><a href="/about/wall/2018-08-04/66.html" title="抄袭门过后——丢掉心结，重拾自己" target="_blank">抄袭门过后——丢掉心结，重拾自己</a></li><li><a href="/life/18.html" title="IP要突破2000+了" target="_blank">IP要突破2000+了</a></li><li><a href="/photo/rw/2.html" title="个人博客模板《show time》蓝色版" target="_blank">个人博客模板《show time》蓝色版</a></li><li><a href="/life/12.html" title="安静地做一个爱设计的女子" target="_blank">安静地做一个爱设计的女子</a></li><li><a href="/life/52.html" title="个人博客从简不繁" target="_blank">个人博客从简不繁</a></li><li><a href="/study/web/1.html" title="个人博客模板《show time》蓝色版" target="_blank">个人博客模板《show time》蓝色版</a></li><li><a href="/life/13.html" title="个人博客，属于我的小世界！" target="_blank">个人博客，属于我的小世界！</a></li>        </ul>
       </div>
      </div>
    <div class="fenlei">
        <h2>友情链接</h2>
        <ul>
<li><a href="" title="个人博客" >个人博客</a></li>        </ul>
      </div>
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="/skin/show/images/wx.jpg">
        </ul>
    </div>
  </aside>
</article>


{% endblock %}
